@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.box {
  border-radius: 8.52px;
  background: rgba(255, 255, 255, 0.11);
  box-shadow: -3.77px 3.77px 3.77px 0px rgba(255, 255, 255, 0.11) inset,
    3.77px -3.77px 3.77px 0px rgba(194, 194, 194, 0.11) inset,
    0px 2.3px 2.3px 0px rgba(0, 0, 0, 0.25) inset,
    0px 4.26px 4.26px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(1.1714800596237183px);
}

.box-glass-effect {
  border-radius: 8px;
  background: #fff;
  /* Glass Effect */
  box-shadow: -3.54px 3.54px 3.54px 0px rgba(255, 255, 255, 0.11) inset,
    3.54px -3.54px 3.54px 0px rgba(194, 194, 194, 0.11) inset,
    0px 2.16px 2.16px 0px rgba(0, 0, 0, 0.25) inset,
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(1.100000023841858px);
}

.donut-circle {
  filter: drop-shadow(0px 2px 25px rgba(0, 0, 0, 0.08));
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.box-shadow {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.card-box-shadow {
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.box-shadow-inner {
  box-shadow: inset 15px 7px 24px rgba(246, 246, 246, 0.35),
    inset -15px -10px 24px rgba(0, 0, 0, 0.07);
}

.log-hover-info {
  box-shadow: -3.0974998474121094px 3.0974998474121094px 3.0974998474121094px
      0px #ffffff1d inset,
    3.0974998474121094px -3.0974998474121094px 3.0974998474121094px 0px #c2c2c21d
      inset,
    0px 1.8900001049041748px 1.8900001049041748px 0px #00000040 inset,
    0px 3.5px 3.5px 0px #00000040;
}

/* @utilities { */
.dbtn {
  @apply flex border border-[#7F947B] rounded-lg h-8 text-xs hover:bg-[#2A4C23] hover:text-white transition duration-300 px-2 py-1.5 items-center gap-2;
}
.outlinebtn {
  @apply flex items-center justify-center border border-primary rounded-lg w-full max-w-56 px-3 py-2 text-primary hover:bg-slate-100 transition duration-300 focus-visible:ring-2 ring-primaryFade outline-none whitespace-nowrap;
}
.filledbtn {
  @apply flex items-center justify-center border bg-primary rounded-lg w-full max-w-56 px-3 py-2 text-white hover:opacity-90 border-primary transition duration-300 focus-visible:ring-2 ring-primaryFade outline-none whitespace-nowrap;
}

.status-badge {
  @apply text-xs px-3 py-1 w-fit min-w-20 transition duration-300 gap-3 group-hover:text-white flex items-center rounded-lg whitespace-nowrap;
}

.rounded-uploadbox {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='%23949494' stroke-width='3' stroke-dasharray='13%2c 13%2c 13%2c 13' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
}
/* } */

.react-calendar {
  border: none !important;
  font-family: "Nunito", sans !important;
}

/* .react-calendar__tile {
  padding: 0.3rem !important;
} */

.npage > li:last-child {
  margin-left: auto;
}
.npage > li:first-child {
  margin-right: auto;
}
